<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title></title>
    <meta charset="utf-8">
    <%- css('css/main.css') %>
</head>
<body>

<div id="main">
    <!-- 侧边栏 -->
    <aside id="#aside">
        <%- include('aside.ejs') %>
    </aside>

    <!-- 引入导航 -->
    <nav>
        <%- include('nav.ejs') %>
    </nav>

    <!-- 引入正文 -->
    <div id="content">
        <%- body %>
    </div>
</div>

<%- js('js/main.js') %>
</body>
</html>
